.mainBody{
    width: 100%;
    padding: 16px;
}


.eventsCollectionName{
    padding-bottom: 12px;
    color:#1A202C;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 25px;
}

.header,.sidebarContainer{
    background-color: white;
}

