.search__person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 30px; */
  width: 100%;
  margin: 20px auto;
  border-bottom: 1px #e2e8f0 solid;
}

.sp__details {
  /* background-color: #eee; */
  border-radius: 10px;
  width: 95%;
  padding: 10px;
  margin-right: 10px;
}

.sp__details > h3 {
  font-size: 1.2rem;
}

.sp__details > p {
  font-size: 1rem;
  margin-top: 5px;
  color: gray;
}

.sp__add > button {
  padding: 5px 3px;
  width: 100px;
  border: 1px #244ed8 solid;
  font-size: 1.1rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: 800;
  color: #244ed8;
  -webkit-transition: padding 2s;
}

.sp__add > button:hover {
  border: 2px #244ed8 solid;
  -webkit-transition: border 0.5s;
}

/* 
#f7fafc
#2563eb
#414a59
#244ed8 */
