.testPageContainer{
    display: flex;
}
.testLeftSide{
    width: 29%;
    height: 100vh;
    /* border: 1px solid red; */
}
.testRightSide{
    width: 71%;
    height: 100vh;
    /* border: 1px solid green; */
}

.testMenuBar,.testPageHeader{
    height: 10vh;
 
    /* border: 1px solid blue; */
}
.testMenuBar{
    background-color: white;
    border: 1px solid #ddd;
    border-top:none;
    display: flex;
    align-items: center;
}
.topHeader{
    background-color:white;
    border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(37, 37, 37);
  }
.testInfo{
    height: 90vh;
    /* border: 1px solid violet; */
}
.testPageBody{
    height: 80vh;
    /* border: 1px solid yellow; */
    padding: 20px;
    overflow-y: auto;
    background-color: ghostwhite;
    position: relative;
}
.testPageFooter{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: 1px solid #ddd;
}
.openChat{
    display: none;
}

.topHeader h2 {
    padding:0px 20px 0px 10px;
  }
  .iconsSet{
    display: flex;
    align-items: center;
    padding-right: 28px;
  }
  .iconsSet .fa-info-circle{
    font-size: 24px;
  }
  .iconsSet i{
    margin-left: 20px;
    font-size: 20px;
    transition: 0.25s ease;
    color: rgb(37, 37, 37);
  }
  .iconsSet i.active{
    color:#16ba1f;
  }
  .iconsSet i:hover{
    color:#16ba1f;
    /* transform:perspective(50px) translateZ(10px) rotate(360deg); */
    /* backface-visibility: hidden; */
  }

/* 
For chat body scrollbar
*/
.testPageBody::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .testPageBody::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  .testPageBody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  .testPageBody::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  .testPageBody::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
  


.chat__headerRight{
  display: none;
}


@media screen and (max-width:700px){
    .testRightSide{
        position: fixed;
        right: -100%;
        top:0%;
        z-index: 100;
    }
    .testRightSide.show{
        right: 0%;
        width: 100%;
    }
    .testLeftSide{
        width: 100%;
    }
    .openChat{
        display: block;
        position: fixed;
        bottom: 12%;
        right:6%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        z-index: 1;
        background: #002366;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .chat__headerRight{
      display: block;
    }
}