.eventInfo {
  padding: 0px;
  background: white;
}

.eventInfo__budget {
  background-color: #002366;
  padding: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 36vh;
}

.eventInfo__budget__main {
  display: flex;
  justify-content: space-between;
}

.eventInfo__budget__details > p {
  color: #fff;
}

.eventInfo__budget__details > h3 {
  font-size: 2rem;
  margin-top: 7px;
  color: #fff;
}

.eventInfo__budget__details > h4 {
  font-size: 1.5rem;
  margin-top: 7px;
  color: #fff;
}

.eventInfo__budget__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.eventInfo__budget__buttons > button {
  padding: 10px 15px;
  width: 130px;
  border: 1px #244ed8 solid;
  font-size: 16px;
  border-radius: 20px;
  background-color: #fff;
  font-weight: 800;
  color: #244ed8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventInfo__budget__buttons > button:hover {
  background-color: RGBA(107, 176, 255, 0);
  color: #fff;
  box-shadow: inset 0 0 0 1.5px #244ed8;
  transition: all 0.3s;
  border: 2px solid white;
}

.eventInfo_budget_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.eventInfo_budget_buttons > button {
  padding: 10px 15px;
  width: 130px;
  border: 1px #244ed8 solid;
  font-size: 16px;
  border-radius: 20px;
  background-color: #fff;
  font-weight: 800;
  color: #244ed8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventInfo_budget_buttons > button:hover {
  background-color: RGBA(107, 176, 255, 0);
  color: #fff;
  box-shadow: inset 0 0 0 1.5px #244ed8;
  transition: all 0.3s;
  border: 2px solid white;
}

.eventInfo__people {
  height: 49vh;
  overflow-y: scroll;
}

.scroll .inner {
  height: 300%;
  width: 100%;
  content: ".";
}
.eventInfo__people::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.eventInfo__people::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.eventInfo__people::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.eventInfo__people::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.eventInfo__people::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

.participantsDetails {
  padding: 10px 35px 10px 22px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  height: 5vh;
}
.participantsDetails p {
  font-weight: 700;
  font-size: 15px;
  color: #707070;
}
.participantsDetails i {
  color: #707070;
  cursor: pointer;
  transition: 0.25s ease;
}
.participantsDetails i:hover {
  color: #535353;
  transform: perspective(100px) translateZ(20px);
}
