


.chat {
  border-radius: 10px;
 
}

/* .chat__header {

  padding: 10px;
  display: flex;
  align-items: center;
  background-color:white;
  font-weight: 700;
  height: 8vh;
} */

/* .chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-size: 16px;
}

.chat__headerInfo > p {
  color: gray;
  font-size: 0.8rem;
} */

/* .chat__body {
  background-color: blueviolet;
  padding: 30px;
  overflow-y: auto;
  height: 82vh;
  background-size: cover;
  background-position: center;
} */

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

/* .chat__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  border-top: 1px solid lightgray;
  background-color: white;
} */

/* .chat__footer > form {
  display: flex;
  flex: 1;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 1.05rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ddd;
} */


.chat__footer > .MuiSvgIcon-root {
  margin: 10px;
  color: gray;
}

/* .chat__emoji {
  position: absolute;
  bottom: 90px;
} */

/* input[type="file"]::file-selector-button {
  padding: 5px 3px;
  width: 100px;
  border: 1px #244ed8 solid;
  font-size: 0.9rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: 800;
  color: #244ed8;
}

input[type="file"]::file-selector-button:hover {
  background-color: RGBA(36, 78, 216, 0.1);
  box-shadow: inset 0 0 0 1.5px #244ed8;
  transition: all 0.3s;
} */

/* .scroll .inner {
  height: 300%;
  width: 100%;
  content: ".";
} */


/* .chat__body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.chat__body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.chat__body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.chat__body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.chat__body::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
} */
