.search__person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  margin: 10px auto;
}

.search__person:not(:last-child) {
  border-bottom: 1px #e2e8f0 solid;
}

.sp__details {
  display: flex;
  border-radius: 10px;
  width: 95%;
  padding: 10px;
  margin-right: 10px;
}

.sp__details__avatar {
  margin-right: 15px;
}

.sp__details__cred > h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #707070;
}

.sp__details__cred > p {
  font-size: 1rem;
  margin-top: 5px;
  color: gray;
}

.addButton {
  padding: 5px 3px;
  width: 100px;
  border: 1px #244ed8 solid;
  font-size: 1.1rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: 800;
  color: #244ed8;
}

.addButton:hover {
  background-color: RGBA(36, 78, 216, 0.1);
  box-shadow: inset 0 0 0 1.5px #244ed8;
  transition: all 0.3s;
}

.addedButton {
  padding: 5px 3px;
  width: 100px;
  border: 1px rgb(45, 185, 45) solid;
  font-size: 1.1rem;
  border-radius: 20px;
  background-color: #fff;
  font-weight: 800;
  color: rgb(45, 185, 45);
}

.addedButton:hover {
  background-color: rgba(132, 225, 132, 0.2);
  box-shadow: inset 0 0 0 1.5px green;
  transition: all 0.3s;
}

@media (max-width: 1300px) {
  .search__person {
    padding: 0px;
  }
}

@media (max-width: 1280px) {
  .search__person {
    padding: 5px 20px;
  }
}

@media (max-width: 520px) {
  .search__person {
    padding: 10px 5px 10px 0;
  }

  .sp__details__cred > h3 {
    font-size: 1rem;
  }

  .sp__details__cred > p {
    font-size: 0.8rem;
  }

  .sp__details__avatar {
    margin-right: 7px;
  }
  .invite__avatar {
    height: 30px;
    width: 30px;
  }

  .addButton {
    padding: 3px 3px;
    width: 80px;
    font-size: 1rem;
  }

  .addedButton {
    padding: 3px 3px;
    width: 80px;
    font-size: 1rem;
  }
}

@media (max-width: 410px) {
  .search__person {
    padding: 10px 10px 10px 5px;
  }

  .sp__details__cred > h3 {
    font-size: 0.8rem;
  }

  .sp__details__cred > p {
    font-size: 0.7rem;
  }
  .addButton {
    padding: 5px 3px;
    width: 70px;
    font-size: 0.8rem;
  }

  .addedButton {
    padding: 3px 3px;
    width: 70px;
    font-size: 0.8rem;
  }
}
