.tasksList{
    height: 49vh;
    overflow: auto;
}
.tasksList::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .tasksList::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  .tasksList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  .tasksList::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  .tasksList::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }