.mainBody{
    width: 100%;
    padding: 16px;
    /* visibility: 0;
    opacity: 0;
    transition: 0.25s ease; */
}
/* .mainBody.show{
    opacity: 1;
    visibility: 1;
    transition: 0.25s ease;
} */


.eventsCollectionName{
    padding-bottom: 12px;
    color:#1A202C;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 25px;
}

.header,.sidebarContainer{
    background-color: white;
}

