.header {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #E2E8F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchBarAnEventBtn{
    display: flex;
    align-items: center;
}
.searchBar{
    position: relative;
}
.searchInput {
    margin-left: 16px;
    padding: 8px 12px;
    padding-right: 30px;
    color :#2D3748;
    width: 340px;
    letter-spacing: 0.5px;
    border: 1px solid #ced5df;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
} 
#searchIcon{
  position: absolute;
  right: 8px;
  top: 10px;
  color:#3f495a;
}
.searchInput:focus{
    outline-color: #869ed1;
}
.searchInput::placeholder{
    letter-spacing: 1px;
}

.mainSearchResults {
    width: 340px;
    position: absolute;
    left: 16px;
    top:35px;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    max-height: 340px;
    background-color: white;
    z-index: 10;
    border : 1px solid #E2E8F0;
    border-top:none;
    box-shadow: 0 7px 30px -10px rgba(81, 84, 85, 0.5);
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: none;
}
.mainSearchResults.show{
    display: block;
}

.addEventBtn{
    margin-left: 10px;
    padding: 8px;
    background-color: white;
    border-radius: 5px;   
    font-weight: bold;
    background-color: #2563eb;
    color: white;
    border:none;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    cursor: pointer;
    transition: ease 0.2s;
}
.addEventBtn:hover{
    transform: scale(0.95);
}
.addEventBtn i {
    margin-right: 5px;

}
.headerIcons a{
  margin-right: 18px;
  text-decoration: none;
  font-size: 17px;
  color:#3f495a;
}

/* invites.css */
.allInvites,.allNotifications{
    display: none;
    position:absolute;
    top:60px;
    right:15px;
    width: 325px;
    height: 350px;
    border: 1px solid #E2E8F0;
    background: white;
    z-index: 10;
    border-radius: 5px;
    /* box-shadow: 0 7px 30px -10px rgba(81, 84, 85, 0.5); */
    box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.75);
}
.allInvites.show{
    display: block;
}

.allNotifications{
    z-index: 11;
}

.allNotifications.show{
    display: block;
}

.invitesList{
    overflow:scroll;
    overflow-x: hidden;
    height: 310px;
}
.invitesList::-webkit-scrollbar {
    width: 3px;
}

.invitesList::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #343a40;
    box-shadow:inset 0 0 6px rgba(0,0,0,0.5) ;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.brandNameContainer{
    display: none;
}

.addEventMobile{
    position: fixed;
    bottom: 70px;
    right: 16px;
    z-index: 20;
    display: none;
}
.addEventMobile button{
    width:40px;
    height: 40px;
    background-color: #2563eb;
    border:none;
    border-radius: 50%;
    box-shadow: 0px 7px 30px -10px rgba(81, 84, 85, 0.5) ;
    transition: 0.2s ease;
}
.addEventMobile button:hover{
    transform: scale(0.9);
}
.addEventMobile i {
    color: white;
    font-size: 17px;
}

.bottomMobileNavbar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: white;
    border-top: 1px solid #E2E8F0;
    box-shadow: 0px 7px 30px -10px rgba(81, 84, 85, 0.5) ;
    z-index: 22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.bottomMobileNavbar a{
    font-size: 15px;
  color:#3f495a;
  text-align: center;
  flex:1;
  border-right: 1px solid #a3a4a5;
    display: block;
    text-decoration: none;
}
.bottomMobileNavbar p {
    font-size: 11px;
}


.bottomMobileNavbar a:last-child{
    border-right: none;
}
.toggleSidebar{
    display: none;
    font-size: 17px;
  color:#3f495a;
    margin-right: 16px;
}

.mobileSearchResults{
    display: none;
    position: fixed;
    right: -100%;
    top:0px;
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
    z-index: 50;
    transition: 0.2s ease;
}
.mobileSearchResults.show{
    right: 0%;
}

.addMobileEvent{
    border:2px solid #3f495a;
    height:35px;
    width:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.searchBarMobile{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #E2E8F0;
    align-items: center;
    height: 60px;
    background-color: white;
    position: relative;
}
.searchBarMobile input {
    padding: 10px;
    width: 100%;
    margin-right: 12px;
    margin-left: 10px;
    border:none;
    border-bottom: 1px solid #E2E8F0;
}
.searchBarMobile input:focus{
    outline: none;
}
.searchResultaMobile{
    padding: 10px;
}

@media screen and (max-width:900px) {
    @keyframes example {
        from {display: none; top:120vh}
        to {display: block; top:41vh}
    }
    .searchBarAnEventBtn{
        display: none;
    }
    .brandNameContainer {
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    .brandName{
        margin-left: 8px;
    }
    .logo{
        width: 35px;
        height: 35px;
    }
    .addEventMobile{
        display: block;
    }
    .headerIcons{
        display: none;
    }
    .toggleSidebar{
        display: block;
    }
    .allInvites,.allNotifications{
        display: none;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.25s ease;
        z-index: 21;
    }
    .allInvites.show,.allNotifications.show{
        animation: example 0.25s ease forwards;
    }
    .bottomMobileNavbar {
        display: flex;
    }
    .mobileSearchResults{
        display: block;
    }
    
}

