.logFile__data {
  color: #6a5d5d;
  width: 420px;
  background-color: white;
}
.transactionLogsContainer{
overflow: auto;
height: 51vh;
}
.logFile__data tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logFile__data td {
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 800;
}

.logFile__data tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.scroll .inner {
  height: 300%;
  width: 100%;
  content: ".";
}

.transactionLogsContainer::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.transactionLogsContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.transactionLogsContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.transactionLogsContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.transactionLogsContainer::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
